<% include ../partials/header %>

<link rel="stylesheet" href="/stylesheets/product.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css"
  integrity="sha256-HAaDW5o2+LelybUhfuk0Zh2Vdk8Y2W2UeKmbaXhalfA="
  crossorigin="anonymous"
/>

<!-- <input type="hidden" id="_csrf" value="<%=csrfToken%>" /> -->
<!-- <div id="error-caption" class="container mt-3"></div> -->

<% if (errMessage) { %>
<div class="alert alert-danger">
  <p><%= errMessage %></p>
</div>
<% } %>

<div class="container text-center mb-3">
  <h1>Welcome to Ice Planet Store</h1>
</div>

<!-- <div class="d-flex justify-content-center mb-3 ">
    <button type="button" class="btn btn-warning" disabled>  
        <span class="spinner-border spinner-border-sm" 
              role="status" 
              aria-hidden="true">  
        </span>   
        Processing...  
    </button>  
</div> -->

<div class="container" style="margin-bottom: 20px;">
  <div class="row text-center" style="display: flex; flex-wrap: wrap;">
    <% products.forEach((product) => { %>
    <div class="col-xl-3 col-lg-4 col-md-6">
      <form action="/products/add-to-cart/<%= product._id %>" method="POST">
        <input type="hidden" id="_csrf" name="_csrf" value="<%=csrfToken%>" />
        <figure class="card card-product mr-auto ml-auto">
          <div class="img-wrap">
            <img src="<%= product.imagePath %>" />
            <button
              class="btn btn-warning btn-sm btn-top-right"
              type="submit"
              style="border: none;"
            >
              <i class="fal fa-shopping-cart"></i>
            </button>
            <a
              class="btn-overlay"
              href="<%= product.imagePath %>"
              data-toggle="lightbox"
              data-title="<%= product.name %>"
              data-footer="<%= product.description %>"
              ><i class="fa fa-search-plus"></i> Quick view</a
            >
          </div>
          <figcaption class="info-wrap">
            <a
              href="<%= product.imagePath %>"
              data-toggle="lightbox"
              data-title="<%= product.name %>"
              data-footer="<%= product.description %>"
              class="title"
              ><%= product.name %></a
            >

            <div class="action-wrap">
              <div class="price-wrap h5">
                <div class="row">
                  <div class="col-6">
                    <input
                      class="form-control"
                      type="number"
                      name="qty"
                      placeholder="Qty"
                      value="1"
                      min="1"
                      style="width:100%;"
                      required
                    />
                  </div>
                  <div class="col-6">
                    <select
                      class="float-right form-control"
                      name="type"
                      onchange="changePrice(this)"
                    >
                      <% product.bundles.forEach((bundle) => { %>
                      <option
                        data-product="<%= product._id %>"
                        data-bundle="<%= bundle._id %>"
                        ><%= bundle.unit %></option
                      >
                      <% }); %>
                    </select>
                  </div>
                </div>
              </div>

              <!-- <div class="price-wrap mt-1"> -->
              <div class="row ml-0">
                <div class="col-12 price-wrap ml-0 pl-0">
                  <span class="ml-0 pl-0">&#x20A6;</span>
                  <span name="price" id="<%= product._id %>">
                    <%= product.bundles[0].price %> 
                  </span>
                </div>
              </div>
              <!-- </div> -->

              <!-- price-wrap.// -->
            </div>
            <!-- action-wrap -->
          </figcaption>
        </figure>
      </form>
      <!-- card // -->
    </div>
    <% }); %>
  </div>

  <br><br>
</div>

<script type="text/javascript" src="/javascripts/script.js"></script>

<% include ../partials/footer %>
